<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body style="color: rgb(0, 0, 0); background-color: rgb(242, 242, 242);">
    <h2 style="text-align: center;"><span style="font-family: Impact, Charcoal, sans-serif; color: rgb(40, 50, 78);">cloudGo</span></h2>
    <p><br></p>
    <table style="width: 61%; margin: 0px auto; border-collapse: collapse; border: 1px solid rgb(115, 115, 115);">
        <tbody>
            <tr>
                <td style="width: 50%; text-align: center; background-color: rgb(204, 204, 204); border: 1px solid rgb(115, 115, 115);"><span style="color: rgb(71, 85, 119);">Username</span></td>
                <td style="width: 50%; text-align: center; background-color: rgb(204, 204, 204); border: 1px solid rgb(115, 115, 115);">{{.Un}}</td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: center; background-color: rgb(204, 204, 204); border: 1px solid rgb(115, 115, 115);"><span style="color: rgb(71, 85, 119);">Password</span></td>
                <td style="width: 50%; text-align: center; background-color: rgb(204, 204, 204); border: 1px solid rgb(115, 115, 115);">{{.Pw}}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>